instance/workout.db
"instance/database_structure.xlsx"
notes.txt
"workout_management.py"
documentation.txt
.vscode
.venv
__pycache__
/Backup/
"Excercise Database"
Testing_files
"treningovy-dennik.xlsx"
"written table html.txt"
README.md
"silny_vypis.html"
test.html
migrations
instance