<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Periodization</title>
  <link rel="icon" href="/static/title/barbell_title.jpg">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

  <!-- Access my local data-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Jus to so the page is not wider than screensize-->

</head>

<body>
  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <!-- Symbols -->
    <symbol id="check2" viewBox="0 0 16 16">
      <path
        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z">
      </path>
    </symbol>
    <symbol id="circle-half" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
    </symbol>
    <symbol id="moon-stars-fill" viewBox="0 0 16 16">
      <path
        d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z">
      </path>
      <path
        d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z">
      </path>
    </symbol>
    <symbol id="sun-fill" viewBox="0 0 16 16">
      <path
        d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z">
      </path>
    </symbol>
  </svg>


  <div class="p-3 mb-5">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">Personal Workout Periodization</a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('training_session_redirect')}}">Training
                Session</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('workout_plan')}}">Workout Plan</a>
            </li>
          </ul>
          <!-- Login and register buttons on the right -->
          <ul class="navbar-nav ms-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <!-- Change path to profile.html after clicking on UserName-->
              <a class="nav-link" href="{{ url_for('profile')}}">{{ user }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <main class="container">
    <div class="row p-3 p-md-5 g-3 g-md-5">
      <div class="col-md-8">
        <article class="blog-post">
          <h2 class="display-5 link-body-emphasis mb-1 p-2"><b>Quick overview</b></h2>
          <hr>

          <div class="flip-card mb-4 mb-md-3">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <p class="fs-6 fs-md-5 "></br><b>Training Session:</b><br> Provide input for your pre-created workout plan. During your training session, open this tab and enter your info from the workout</p>
              </div>
              <div class="flip-card-back">
                <p class="fs-6 fs-md-5"><b>Example:</b><br> Training Session for Upper Body: Bench Press - 3 sets of 10 reps, Deadlift - 3 sets of 8 reps</p>
              </div>
            </div>
          </div>
          
          <div class="flip-card mb-4 mb-md-3">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <p class="fs-6 fs-md-5"><b>Workout Plan:</b><br> Information about all your exercises and mesocycles so far. Also, you can create a new mesocycle plan throughout this page</p>
              </div>
              <div class="flip-card-back">
                <p class="fs-6 fs-md-5"><b>Example:</b><br> Plan includes: Week 1 - Upper/Lower split, Week 2 - Push/Pull/Legs. All placed in Mesocycle period</p>.
              </div>
            </div>
          </div>
          
          <div class="flip-card mb-4 mb-md-3">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <p><b class="fs-6 fs-md-5">Create New Mesocycle Plan:</b><br> Create a new mesocycle plan and populate the table</p>
              </div>
              <div class="flip-card-back">
                <p class="fs-6 fs-md-5"><b>Example:</b><br> New Plan: 4-week Hypertrophy-focused routine. Recommended 4-8 weeks</p>
              </div>
            </div>
          </div>
          
          <div class="flip-card mb-4 mb-md-3">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <p class="fs-6 fs-md-5"><b>Username:</b><br> In this tab, you can change your exercises, passwor and more</p>
              </div>
              <div class="flip-card-back">
                <p class="fs-6 fs-md-5"><b>Example:</b><br>Editing Bench Press: 2 sets of 10 reps insted 4 sets of 12 reps</p>
              </div>
            </div>
          </div>
          
        </article>

        <article class="blog-post">
          <h3 class="display-5 link-body-emphasis mb-1"><b>What you need to know</b></h2>
            <hr>
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <p><b>RPE:</b><br> Rating of perceived exertion</p>
                </div>
                <div class="flip-card-back">
                  <p><b>RPE Details:</b><br> Scale 1 to 10. RPE 10 mean you could do no more rep</p>
                </div>
              </div>
            </div>

            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <p><b>Sets:</b><br> How many sets you have planned to do</p>
                </div>
                <div class="flip-card-back">
                  <p><b>Sets Details:</b><br> Total number of sets for specific exercise</p>
                </div>
              </div>
            </div>
            
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <p><b>Reps:</b><br> How many repetitions you did</p>
                </div>
                <div class="flip-card-back">
                  <p><b>Reps Details:</b><br> Total reps for each exercise</p>
                </div>
              </div>
            </div> 
            
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <p><b>Pauses:</b><br> How long you want to rest between sets</p>
                </div>
                <div class="flip-card-back">
                  <p><b>Pauses Details:</b><br> Recommended rest time</p>
                </div>
              </div>
            </div>
            
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <p><b>Notes:</b><br> Any information relevant for your workout</p>
                </div>
                <div class="flip-card-back">
                  <p><b>Notes Details:</b><br> Additional insights or observations</p>
                </div>
              </div>
            </div>
            

        </article>
      </div>

      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-body-tertiary rounded">
            
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">You can manage all your workouts in one place. After the end of your mesocycle, you can view
              statistics (currently 'Workout Plan' tab) about
              your progress and based on it plan a new training period. Aim of this web app is to help you periodize,
              structure and manage your workouts.</p>
          
          </div>


          <div>
            <h4 class="fst-italic">Super Informations</h4>
            <ul class="list-unstyled">
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-center align-items-lg-start py-3 link-body-emphasis text-decoration-none border-top"
                  href="#">
                  <img src="{{ url_for('static', filename='pictures/notifications/notifications.jpg') }}" alt="Notification"
                    style="width: 100px; height: 100px; object-fit: cover;" />
                  <div class="col-lg-8 text-center text-lg-start">
                    <h6 class="mb-0">In profile section you can manage exercises</h6>
                    <small class="text-body-secondary">14.11.2024</small>
                  </div>
                </a>
              </li>
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-center align-items-lg-start py-3 link-body-emphasis text-decoration-none border-top b"
                  href="#">
                  <img src="{{ url_for('static', filename='pictures/notifications/notifications.jpg') }}" alt="Notification"
                    style="width: 100px; height: 100px; object-fit: cover;" />
                  <div class="col-lg-8">
                    <h6 class="mb-0">Training session page layout is simplified</h6>
                    <small class="text-body-secondary">14.11.2024</small>
                  </div>
                </a>
              </li>
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-center align-items-lg-start py-3 link-body-emphasis text-decoration-none border-top c"
                  href="#">
                  <img src="{{ url_for('static', filename='pictures/notifications/notifications.jpg') }}" alt="Notification"
                    style="width: 100px; height: 100px; object-fit: cover;" />
                  <div class="col-lg-8">
                    <h6 class="mb-0">Current version strictly focused on phone resolution</h6>
                    <small class="text-body-secondary">14.11.2024</small>
                  </div>
                </a>
              </li>
            </ul>
          </div>

  </main>

  <div clas="p-3">
    <div class="fixed-bottom">
      © {{ year }} | Created by Vít Puskajler
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"> </script>

  <!-- Path to external file -->
  <script src="{{ url_for('static', filename='js/niceLogic.js') }}"></script>
    
</body>


</html>